Java/.metadata*
Java/Exercices/.settings/org.eclipse.jdt.core.prefs
Java/Exercices/.project
Java/Exercices/.classpath
Java/inprogress/.settings/org.eclipse.jdt.core.prefs
Java/inprogress/.project
Java/inprogress/.classpath
Java/inprogress/*
Java/CRM*
Java/Resto/.settings
Java/Resto/.project
Java/Resto/.classpath